a {
    color: blue;
  text-decoration: none;
}

a:visited {
  color: purple;
  text-decoration: none;
}

a:hover {
    color: orange;
  text-decoration: none;
}

a:focus {
  outline: solid;
}

a:active {
    color: darkblue;
  text-decoration: none;
}
